html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  background: transparent;
  font-family: Helvetica, "微软雅黑";
  font-style: normal;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
* {
  box-sizing: border-box;
}
.herd-box {
  width: 100%;
  height: 44px;
  border-bottom: #1F1F1F;
  line-height: 44px;
  background: #454545;
  color: #fff;
  text-align: center;
}
.herd-box span {
  margin-left: 15%;
}
.herd-box button {
  float: right;
  margin: 7px 10px;
  color: #ffffff;
  background: #454545;
  border: 1px solid #393939;
  width: 15%;
  height: 30px;
}
.main {
  width: 100%;
  height: 620px;
  background: #F1F1F1;
}
.main ul {
  width: 100%;
  height: auto;
}
.main ul li {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 0;
}
.main ul li img {
  float: left;
}
.main ul li .title-box {
  float: left;
  margin-left: 10px;
}
.main ul li .title-box .title {
  display: block;
  color: #000;
}
.main ul li .title-box .list {
  font-size: 12px;
  color: #A1ABAD;
}
.shoping {
  width: 100%;
  height: 54px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #D1D1D1;
  z-index: 9999;
}
.shoping ul {
  width: 100%;
  height: 54px;
}
.shoping ul li {
  width: 25%;
  height: 100%;
  float: left;
}
.shoping ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #555555;
}
.shoping ul li a i {
  display: block;
  width: 65%;
  height: 65%;
  background: url(../imgs/sy.png) no-repeat center center / cover;
  margin: 0 auto;
}
.shoping ul li a span {
  display: block;
  font-size: 10px;
}
.shoping ul li a .fenlei {
  background: url(../imgs/more.png) no-repeat center center / cover;
}
.shoping ul li a .shop {
  background: url(../imgs/shop.png) no-repeat center center / cover;
}
.shoping ul li a .user {
  background: url(../imgs/user.png) no-repeat center center / cover;
}
