//初始化页面
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    list-style:none;
    background:transparent;
    font-family:Helvetica,"微软雅黑";
}

a{
    text-decoration: none;
}
img{
    border: 0;
    vertical-align: middle;
}
*{
    box-sizing:border-box;
}
//设置常用变量
@w:100%;
.bg(@r){
    background:@r;
}
.border-radius(@b){
    border-radius:@b;
}
//设置常用变量结束
body{
    .bg(#F7F7F7);
}
//search样式
.search-box{
    width:@w;
    height:43px;
    padding:6px;
    border-bottom:1px solid #DDDDDD;
    input{
        width:@w;
        height:@w;
        border:1px solid #E8E8E8;
        padding-left:11px;
        font-family:Helvetica,"微软雅黑";
        .border-radius(5px);
    }
}

//search样式结束
//banner开始
.banner-box{
    width:@w;
    height:176px;
    border:none;
    .swiper-container {
        width:@w;
        height:@w;
        .swiper-wrapper{
            .swiper-slide{
                width:@w;
                height:@w;
                a{
                    display:block;
                    width:@w;
                    height:@w;
                }
            }
        }
    }
}
//banner结束
//nav导航开始
.nav-box{
    width:@w;
    height:108px;
    padding:18px 0;
    border-bottom:1px solid #EAEAEA;
    .bg(#fff);
    a{
        display:block;
        width:25%;
        height:@w;
        float:left;
        text-align:center;
        img{
            width:60%;
        }
        span{
            display: block;
            font-size:13px;
            color:#666;
        }
    }
}
//nav导航结束

//news start
.news-box{
    width:@w;
    height:40px;
    .bg(#fff);
    padding:12px 15px;
    span{
        float:left;
        width:20%;
        padding-right:5px;
        border-right:1px solid #E1E1E1;

        img{
            width:100%;
        }
    }
    .news{
        width:80%;
        height:100%;
        float:left;
       .news-show{
           width:@w;
           height:@w;
           position:relative;
           overflow:hidden;
           a{
               position:absolute;
               top:0;
               left:0;
               width:100%;
               display:block;
               background:#fff;
               font-size:13px;
               color:#666;
               em{
                   color:#FF6666;
                   font-style:normal;
                   padding:0 5px;
               }
           }
       }
    }
}
//news end