ul,li{
    list-style:none;
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
}
i{
    font-style:normal;
}

//设置常用变量
@w:100%;
.bg(@r){
    background:@r;
}
.border-radius(@b){
    border-radius:@b;
}
body{
    font-size:18px;
    .bg(#F5F6FA);
}
//header start
.header{
    text-align:center;
    height:0.9rem;
    line-height:0.9rem;
    .bg(#0078E6);
    img{
        width:0.7rem;
        vertical-align:middle;
    }
    h3{
        display:inline-block;
        vertical-align:middle;
        margin:0;
        color:#fff;
    }
}
//header end
//banner开始
.banner-box{
    width:@w;
    height:auto;
    border:none;
    overflow:hidden;
    .banner{
        width:@w;
        height:@w;
        .swiper-wrapper{
            .swiper-slide{
                width:@w;
                a{
                    display:block;
                    width:@w;
                    img{
                        width:@w;
                    }
                }
            }
        }
    }
}
//banner结束
//面包屑
.mbx{
    height:0.82rem;
    line-height:0.82rem;
    padding-left:0.24rem;
    a{
        font-size:12px;
        color: #494747;
        vertical-align: middle;
    }
    img{
        height:0.2rem;
        vertical-align: middle;
    }
}

.header{
    width: 100%;
    height: .9rem;
    background: #007BE3;
    text-align: center;
    line-height: .9rem;
    font-size: 18px;
    color: #fff;
    .logo{
        height: 80%;
        vertical-align: middle;
    }
}
.main{
    width: 100%;
    height: auto;
    padding: .3rem .24rem .2rem;
    background: #F5F6FA;
    overflow: hidden;
    .mianbao{
        line-height:0px;
        .shouye,.lujing{
            font-size: 12px;
            color: #494747;
        }
        .jian{
            height: 12px;
        }
    }
    .wenti{
        width: 100%;
        height: auto;
        background: #fff;
        padding: 0 .2rem .2rem .42rem;
        margin-top: .2rem;
        .question{
            width: 100%;
            height: auto;
            border-bottom: 1px dashed #999999;
            position: relative;
            .shu,.yuan{
                position: absolute;
                left: -.2rem;
                height: 12px;
            }
            .shu{
                top: .23rem;
            }
            .yuan{
                left: -.3rem;
                top: 1rem
            }
            .timu{
                color: #444444;
                font-size: 12px;
                line-height: .7rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .daan{
                color: #666666;
                font-size: 12px;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }
            .wmore{
                display: block;
                font-size: 12px;
                color: #FF9300;
                text-align: center;
                line-height: .6rem;
            }
        }
    }
}
//跳转
.tiaozhuan{
    width: 100%;
    height: .7rem;
}
//footer
.footer{
    width: 100%;
    height: 1rem;
    background: #F5F6FA;
    padding-top: .1rem;
    .about{
        color: #666666;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }
}