html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  background: transparent;
}
body {
  min-width: 1200px;
  background: #FAFAFA;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
* {
  font-family: "苹方", "Microsoft Yahei", "黑体", "宋体", sans-serif !important;
  box-sizing: border-box;
}
.header-box {
  width: 100%;
  height: 116px;
  background: #fff;
}
.header-box .header-inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header-box .header-inner .logo {
  display: block;
  width: 107px;
  height: 107px;
  background: url(../imgs/ljg-logo.png) no-repeat center center;
  margin-top: 9px;
  float: left;
}
.header-box .header-inner .header-title {
  float: left;
  margin-left: 20px;
  padding: 29px 0 30px 0;
}
.header-box .header-inner .header-title h2 {
  color: #031A6A;
  margin: 0;
}
.header-box .header-inner .header-title p {
  margin: 10px 0 0 0;
  font-weight: 600;
  display: block;
  font-size: 18px;
}
.header-box .header-inner .header-img {
  float: right;
  height: 100%;
  padding-top: 42px;
}
.header-box .header-inner .header-img ul li {
  float: left;
}
.header-box .header-inner .header-img ul li img {
  margin-right: 30px;
}
.header-box .header-inner .header-img ul li:last-child img {
  margin-right: 0;
}
.nav-wrap {
  width: 100%;
  height: 80px;
  background: #2691FD;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10000;
}
.nav-wrap .nav-box {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.nav-wrap .nav-box .nav-lists {
  display: block;
  float: left;
  width: 14.28%;
  height: 100%;
  text-align: center;
}
.nav-wrap .nav-box .nav-lists a {
  display: inline-block;
  height: 35px;
  padding: 0 28px;
  line-height: 35px;
  margin-top: 22px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 1s;
}
.nav-wrap .nav-box .nav-lists a:hover {
  background: #85CB53;
  border: 1px solid #fff;
}
.banner-box {
  width: 100%;
  height: 596px;
}
.banner-box .banner-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-box .banner-content .banner-lists {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-box .banner-content .banner-lists a {
  display: block;
  width: 100%;
  height: 100%;
}
.science-box {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
}
.science-box h2 {
  width: 1200px;
  height: 55px;
  font-size: 36px;
  color: #00ADFA;
  line-height: 55px;
  text-align: center;
}
.science-box h6 {
  color: #222222;
  text-align: center;
  font-size: 16px;
}
.science-box .secience-line {
  width: 21px;
  height: 2px;
  background: #00B0FF;
  margin: 0 auto;
  margin-top: 17px;
}
.science-box .science-contain {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.science-box .science-contain .science-contains {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.science-box .science-contain .science-contains .science-items {
  width: 380px;
  height: 594px;
  margin-right: 30px;
  float: left;
  background: url(../imgs/sciene.png) no-repeat center center / cover;
}
.science-box .science-contain .science-contains .science-items:last-child {
  margin-right: 0;
}
.science-box .science-contain .science-contains .science-items a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 1px;
  background: red;
  position: relative;
}
.science-box .science-contain .science-contains .science-items a .science-icon {
  width: 89px;
  height: 89px;
  border-radius: 50%;
  background: #fff url(../imgs/apple.png) no-repeat center center;
  margin: 0 auto;
  margin-top: 9px;
}
.science-box .science-contain .science-contains .science-items:nth-of-type(2) a .science-icon {
  background: #fff url(../imgs/lyn-science-html5.png) no-repeat center center;
}
.science-box .science-contain .science-contains .science-items:nth-of-type(3) a .science-icon {
  background: #fff url(../imgs/command.png) no-repeat center center;
}
