ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
body {
  font-size: 18px;
  background: #F5F6FA;
}
.header {
  text-align: center;
  height: 0.9rem;
  line-height: 0.9rem;
  background: #0078E6;
}
.header img {
  width: 0.7rem;
  vertical-align: middle;
}
.header h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #fff;
}
.banner-box {
  width: 100%;
  height: auto;
  border: none;
  overflow: hidden;
}
.banner-box .banner {
  width: 100%;
  height: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide {
  width: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide a img {
  width: 100%;
}
.mbx {
  height: 0.82rem;
  line-height: 0.82rem;
  padding-left: 0.24rem;
}
.mbx a {
  font-size: 12px;
  color: #494747;
  vertical-align: middle;
}
.mbx img {
  height: 0.2rem;
  vertical-align: middle;
}
.con-box {
  padding: 0 .24rem;
}
.con-box .con {
  width: 100%;
  height: auto;
  padding: .3rem .2rem .3rem .42rem;
  margin-bottom: .1rem;
  background: #fff;
}
.con-box .con h4 {
  font-size: 12px;
  padding-bottom: .14rem;
  margin: 0;
}
.con-box .con .baodao {
  height: 1.55rem;
}
.con-box .con .baodao .block {
  width: 30%;
  height: 100%;
  float: left;
  background: #C8C8C8;
}
.con-box .con .baodao p {
  width: 70%;
  height: 100%;
  float: left;
  font-size: 12px;
  color: #494747;
  line-height: 1.5em;
  padding-left: .34rem;
  overflow: hidden;
}
.con-box .con .click {
  width: 100%;
  height: .62rem;
  margin-top: .2rem;
  border-top: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;
}
.con-box .con .click div {
  width: 33.3333%;
  vertical-align: middle;
  float: left;
  font-size: 8px;
  text-align: center;
}
.con-box .con .click div i {
  width: .3rem;
  height: .3rem;
  display: inline-block;
}
.con-box .con .click .day i {
  vertical-align: middle;
  background: url(../imgs/icon.png) no-repeat 0 0 / cover;
}
.con-box .con .click .love i {
  vertical-align: middle;
  background: url(../imgs/icon.png) no-repeat 0 -19px / cover;
}
.con-box .con .click .zhuanfa i {
  vertical-align: middle;
  background: url(../imgs/icon.png) no-repeat 0 -38px / cover;
}
.pages-box {
  height: .7rem;
  background: #fff;
  padding: .19rem .35rem;
}
.pages-box .btn-left,
.pages-box .btn-right {
  width: .58rem;
  height: .31rem;
  color: #999;
  border-radius: 25px;
  float: left;
}
.pages-box .btn-left img,
.pages-box .btn-right img {
  width: 100%;
}
footer {
  height: 0.92rem;
  text-align: center;
  padding-top: 1px;
}
footer p {
  font-size: 10px;
  color: #666666;
  margin: .21rem 0;
}
