ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
body {
  font-size: 18px;
  background: #F5F6FA;
}
.header {
  text-align: center;
  height: 0.9rem;
  line-height: 0.9rem;
  background: #0078E6;
}
.header img {
  width: 0.7rem;
  vertical-align: middle;
}
.header h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #fff;
}
.banner-box {
  width: 100%;
  height: auto;
  border: none;
  overflow: hidden;
}
.banner-box .banner {
  width: 100%;
  height: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide {
  width: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide a img {
  width: 100%;
}
.mbx {
  height: 0.82rem;
  line-height: 0.82rem;
  padding-left: 0.24rem;
}
.mbx a {
  font-size: 12px;
  color: #494747;
  vertical-align: middle;
}
.mbx img {
  height: 0.2rem;
  vertical-align: middle;
}
.tabs {
  width: 90%;
  margin: 0 auto;
  height: .8rem;
  border: 1px solid #01B5FF;
  border-radius: 5px;
}
.tabs a {
  display: block;
  float: left;
  width: 33.333333%;
  height: 100%;
  text-align: center;
  line-height: .8rem;
  color: #111;
  font-size: 12px;
  position: relative;
}
.tabs a .jiao {
  width: .2rem;
  height: .2rem;
  background: #01B5FF;
  position: absolute;
  bottom: -0.1rem;
  left: 50%;
  margin-left: -0.1rem;
  transform: rotate(45deg);
  display: none;
}
.tabs a.active {
  background: #01B5FF;
  color: #fff;
  border-radius: 3px;
}
.jiao.active {
  display: block;
}
.main-box {
  margin-top: .2rem;
}
.main-box .main {
  width: 100%;
}
.main-box .main ul {
  width: 100%;
  padding: 0 .24rem;
}
.main-box .main ul li {
  width: 100%;
  height: 2.7rem;
  background: #fff;
  margin-bottom: .1rem;
  padding: .2rem;
}
.main-box .main ul li img {
  height: 2.3rem;
  float: left;
}
.main-box .main ul li .names {
  float: left;
  padding-top: .2rem;
  margin-left: .2rem;
  width: 60%;
  height: 100%;
}
.main-box .main ul li .names .name {
  display: inline-block;
  width: 30%;
  height: 23px;
  font-size: 13px;
  color: #111111;
  padding-bottom: .1rem;
  border-bottom: 1px dashed #999999;
  margin-bottom: .1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-box .main ul li .names .more {
  display: inline-block;
  font-size: 12px;
  float: right;
  color: #FF9300;
}
.main-box .main ul li .names .position {
  display: block;
  font-size: 12px;
  color: #01B5FF;
  margin-bottom: .2rem;
}
.main-box .main ul li .names .content {
  width: 90%;
  color: #666666;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin: 0;
}
.pages-box {
  height: .7rem;
  background: #fff;
  padding: .19rem .35rem;
}
.pages-box .btn-left,
.pages-box .btn-right {
  width: .58rem;
  height: .31rem;
  color: #999;
  border-radius: 25px;
  float: left;
}
.pages-box .btn-left img,
.pages-box .btn-right img {
  width: 100%;
}
footer {
  height: 0.92rem;
  text-align: center;
  padding-top: 1px;
}
footer p {
  font-size: 10px;
  color: #666666;
  margin: .21rem 0;
}
@media (max-width: 320px) {
  .content {
    font-size: 10px;
    height: 33px;
    -webkit-line-clamp: 2;
  }
}
@media (min-width: 320px) {
  .content {
    font-size: 12px;
    height: 55px;
    -webkit-line-clamp: 3;
  }
}
