ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
body {
  font-size: 18px;
  background: #F5F6FA;
}
.header {
  text-align: center;
  height: 0.9rem;
  line-height: 0.9rem;
  background: #0078E6;
}
.header img {
  width: 0.7rem;
  vertical-align: middle;
}
.header h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #fff;
}
.banner-box {
  width: 100%;
  height: auto;
  border: none;
  overflow: hidden;
}
.banner-box .banner {
  width: 100%;
  height: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide {
  width: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide a img {
  width: 100%;
}
.mbx {
  height: 0.82rem;
  line-height: 0.82rem;
  padding-left: 0.24rem;
}
.mbx a {
  font-size: 12px;
  color: #494747;
  vertical-align: middle;
}
.mbx img {
  height: 0.2rem;
  vertical-align: middle;
}
.header {
  width: 100%;
  height: .9rem;
  background: #007BE3;
  text-align: center;
  line-height: .9rem;
  font-size: 18px;
  color: #fff;
}
.header .logo {
  height: 80%;
  vertical-align: middle;
}
.main {
  width: 100%;
  height: auto;
  padding: .3rem .24rem .2rem;
  background: #F5F6FA;
  overflow: hidden;
}
.main .mianbao {
  line-height: 0px;
}
.main .mianbao .shouye,
.main .mianbao .lujing {
  font-size: 12px;
  color: #494747;
}
.main .mianbao .jian {
  height: 12px;
}
.main .wenti {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 0 .2rem .2rem .42rem;
  margin-top: .2rem;
}
.main .wenti .question {
  width: 100%;
  height: auto;
  border-bottom: 1px dashed #999999;
  position: relative;
}
.main .wenti .question .shu,
.main .wenti .question .yuan {
  position: absolute;
  left: -0.2rem;
  height: 12px;
}
.main .wenti .question .shu {
  top: .23rem;
}
.main .wenti .question .yuan {
  left: -0.3rem;
  top: 1rem;
}
.main .wenti .question .timu {
  color: #444444;
  font-size: 12px;
  line-height: .7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .wenti .question .daan {
  color: #666666;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.main .wenti .question .wmore {
  display: block;
  font-size: 12px;
  color: #FF9300;
  text-align: center;
  line-height: .6rem;
}
.tiaozhuan {
  width: 100%;
  height: .7rem;
}
.footer {
  width: 100%;
  height: 1rem;
  background: #F5F6FA;
  padding-top: .1rem;
}
.footer .about {
  color: #666666;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
