ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
body {
  font-size: 18px;
  background: #F5F6FA;
}
.header {
  text-align: center;
  height: 0.9rem;
  line-height: 0.9rem;
  background: #0078E6;
}
.header img {
  width: 0.7rem;
  vertical-align: middle;
}
.header h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #fff;
}
.banner-box {
  width: 100%;
  height: auto;
  border: none;
  overflow: hidden;
}
.banner-box .banner {
  width: 100%;
  height: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide {
  width: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
}
.banner-box .banner .swiper-wrapper .swiper-slide a img {
  width: 100%;
}
.mbx {
  height: 0.82rem;
  line-height: 0.82rem;
  padding-left: 0.24rem;
}
.mbx a {
  font-size: 12px;
  color: #494747;
  vertical-align: middle;
}
.mbx img {
  height: 0.2rem;
  vertical-align: middle;
}
.con-box {
  padding: 0 .24rem;
}
.con-box .con {
  width: 100%;
  height: auto;
  padding: .3rem .2rem .3rem .42rem;
  background: #fff;
}
.con-box .con h3 {
  font-size: 12px;
  padding-bottom: .14rem;
  border-bottom: 1px dashed #999999;
  position: relative;
}
.con-box .con h3 .border {
  width: .04rem;
  height: .2rem;
  position: absolute;
  left: -0.2rem;
  top: 10%;
  background: #01B5FF;
}
.con-box .con p {
  font-size: 12px;
  color: #999;
  line-height: 1.5em;
}
.con-box .imgs {
  width: 100%;
  height: 3.63rem;
  background: #474747;
}
.con-box .xian {
  width: 100%;
  height: auto;
  padding: 0 .42rem;
  background: #fff;
}
.con-box .xian span {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #999999;
}
.con-box .icon {
  width: 100%;
  height: 1rem;
  background: #fff;
  line-height: 1rem;
  padding: 0 .2rem;
}
.con-box .icon span {
  font-size: 12px;
  float: left;
  vertical-align: middle;
}
.con-box .icon a {
  display: inline-block;
  float: left;
  width: .4rem;
  height: .4rem;
  margin: .26rem .1rem 0 .1rem;
}
.pages {
  width: 100%;
  height: 1.23rem;
  padding: 0 .2rem;
}
.pages div {
  font-size: 12px;
  width: 100%;
  height: 50%;
  line-height: 0.615rem;
}
.pages div a {
  font-size: 12px;
  color: #01B5FF;
}
.bottom a {
  font-size: 12px;
  color: #000;
  position: relative;
  display: block;
  padding: .15rem 0;
  white-space: nowrap;
}
.bottom a .tuoyuan {
  width: 0.04rem;
  height: 0.04rem;
  background: #01B5FF;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  box-shadow: 0 0 0 1px #fff,0 0 0 2px #01B5FF,0 0  5px 2px #01B5FF;
  left: -0.2rem;
  top: 40%;
}
.bottom a span {
  color: #27BAFF;
}
.pages-box {
  height: .7rem;
  background: #fff;
  padding: .19rem .35rem;
}
.pages-box .btn-left,
.pages-box .btn-right {
  width: .58rem;
  height: .31rem;
  color: #999;
  border-radius: 25px;
  float: left;
}
.pages-box .btn-left img,
.pages-box .btn-right img {
  width: 100%;
}
footer {
  height: 0.92rem;
  text-align: center;
  padding-top: 1px;
}
footer p {
  font-size: 10px;
  color: #666666;
  margin: .21rem 0;
}
